<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded bg-blue-500">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <div class="flex items-center">
      <%= link_to image_tag(src="https://img.icons8.com/ios/50/null/circled-left-2.png"), groups_path %>
    </div>
      <ul>
        <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
        <li><p>Hi <%= current_user.name %>!</p></li>
      </ul>
    </div>
</nav>