<div class="flex items-center bg-white justify-between p-8 m-5 shadow-xl" id="<%= dom_id group %>">
  <%= image_tag("#{group.icon}") %>
  <p><%= group.name %></p>
  <p class="font-extrabold">$<%= group.proceedings.sum(:amount) %></p>
</div>
