<p style="color: green"><%= notice %></p>

<div>

  <h1 class="m-5 text-center text-3xl font-bold", style="color: #434b54">GROUPS</h1>

  <div id="groups">
    <% @groups.each do |group| %>
      <%= link_to group do %>
        <%= render group %>
      <% end %>
    <% end %>
  </div>

  <div class="flex bottom-0 justify-center items-center", style="min-width: 100vw; background: #5fb523; color: white; position: fixed; height: 69px">
    <%= link_to "NEW GROUP", new_group_path, class:'border px-5 py-3' %>
  </div>
</div>