<h1>Editing proceeding</h1>

<%= render "form", proceeding: @proceeding %>

<br>

<div>
  <%= link_to "Show this proceeding", @proceeding %> |
  <%= link_to "Back to proceedings", proceedings_path %>
</div>
