<p style="color: green"><%= notice %></p>

<h1>Proceedings</h1>

<div id="proceedings">
  <% @proceedings.each do |proceeding| %>
    <%= render proceeding %>
    <p>
      <%= link_to "Show this proceeding", proceeding %>
    </p>
  <% end %>
</div>

<%= link_to "New proceeding", new_proceeding_path %>
